
# 1. DATABASE CONFIGURATION (PostgreSQL)

# Postgres Version
PG_VERSION=15-alpine

# Databse credentials
DB_DATABASE=absence_db
DB_USERNAME=trifonas
DB_PASSWORD=mypassword

# Port on which the database listens
DB_PORT=5433


# 2. SPRING BOOT APPLICATION CONFIGURATION

# Port on which the application listens
APP_PORT=8080

# Business logic: Absence threshold
ABSENCE_THRESHOLD = 33

